@charset "ISO-8859-1";

body {
background: rgb(243, 237, 200)

}

header{

    font: bold 14pt Arial;
    text-align: center;

}

section{
background: white;
border-radius: 10px;
padding: 20px;
width: 500px;
margin: auto;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

footer{
    text-align: center; 
    font-style: italic;

}

div#msg{
    font: bold 14pt Arial;
    text-align: center;
    padding: 5px;
}



div#topo{

    font: bold 14pt Arial;
    text-align: center;
    

}
p#Senha{

    font: italic bold 10pt Arial;
    width: 5px, 5px;
    height: 5px;
    text-indent: -320px; 
    

}
p#Login{
    font: italic bold 10pt Arial;
    width: 5px, 5px;
    height: 5px;
    text-indent: -320px; 
 
  
}

div#res{

    font: bold 14pt Arial;
    text-align: center;
    color: rgb(34, 82, 15);
    padding: 0px

 }
 input#Login{
    font: bold 20pt Arial;
 
 }
 
 input#id{
    font: bold 20pt Arial;
 
 }
 
 input#Senha{
    font: bold 20pt Arial;
 

 
 }
 input#Entrar{

    font: bold 14pt Arial;
    border-top-left-radius: 5px;
    border-radius: 5px;
    color: rgb(17, 84, 87);
    width: 350px;
    height: 30px;
    
   
 }
 
 
 input#Salvar{

    font: bold 14pt Arial;
    border-top-left-radius: 5px;
    border-radius: 5px;
    color: rgb(17, 84, 87);
    width: 350px;
    height: 30px;
    
   
 }


 
 
 

 
 